[% WRAPPER wrapper.tt %]

[% FOREACH post IN posts %]
    <article>
        <header>
            <h3><a href="[% post.uri %]"><span class="p-name">[% post.title %]</span></a></h3>
            <small>
            Publié le [% post.day %]/[% post.month %]/[% post.year %]
            </small>
            [% IF post.tags.size > 0 %]
                <aside>        
                    Mots clés:
                    [% FOREACH tag = post.tags.sort %]
                        <code><a href="[% plerd.tag_uri(tag) %]">[% tag %]</a></code>
                    [% END %]
                </aside>
            [% END %]
        </header>
        [% post.body %]
    </article>
[% END %]
</section>

[% IF context_post %]
    <nav>
        [% IF post.newer_post %]
            <p>Billet suivant: <a href="[% post.newer_post.uri %]">[% post.newer_post.title %]</a></p>
        [% END %]
        [% IF post.older_post %]
            <p>Billet précédent: <a href="[% post.older_post.uri %]">[% post.older_post.title %]</a></p>
        [% END %]
    </nav>
[% END %]

[% END %]